.profilediv{
   background-color: white;
   padding: 20px 15px;
   margin-left: 7px;
   margin-right: 10px;
   margin-top: 0px;
   margin-bottom: 20px;
   height: auto !important;
   box-shadow: 2px 2px 1px 2px #ccc;
   & .image {
    margin: 0px !important;
   }
   & .profdetails {
     display: inline-block;
     & .profname{
        font-weight: bold;
        font-size: 15px;
        margin-top: 10px;
       display: inline-block;
     }
     & .namephone{
        margin-top: 10px;
     }
     & .profrating{
        display: inline-block;
        margin-left: 15px;
        margin-top: 10px;
        & .starButtonToolbar {
          margin-bottom: -2px;
          & .starButtonActive {
            padding: 0;
            margin: 0;
            margin-right: 1px;
            color: #F6A623;
            border: none;
            outline:none;
          }
          & .starButton {
            padding: 0;
            margin: 0;
            margin-right: 1px;
            color: grey;
            border: none;
            outline:none;
          }
        }
     }
     & .phone{
        display: inline-block;
     }
     & .email{
        display: inline-block;
     }
   }
   & .deactivebutton{
     margin-top: 20px;
     margin-right: 20px;
     float: right;
     border-color: #1B557A;
     border-radius: 3px;
     color: #1B557A;
     border-width: 2px;
     padding-top: 3px;
     padding-bottom: 3px;
     padding-left: 12px;
     padding-right: 12px;
   }

}


  .tabdiv{
     padding: 0;
    & .panelTableBody {
      padding: 0px;
      & .panelTable {
        margin-top: 2px;
        margin-bottom: 0px;
        padding: 0px;
        & .panelTableHead{
          background: #F2F6F9;
        }
      }
      & .panelTableTBody {
        td {
          max-width: 400px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          & .starButtonToolbar {
            margin-bottom: -2px;
            & .starButtonActive {
              padding: 0;
              margin: 0;
              margin-right: 1px;
              color: #F6A623;
              border: none;
              outline:none;
            }
            & .starButton {
              padding: 0;
              margin: 0;
              margin-right: 1px;
              color: grey;
              border: none;
              outline:none;
            }
          }
        }
      }
    }
  }


.driverDetailsPanel {
  .contentdiv{
    padding: 10px;
  .title {
    padding-right: 15px;
    font-weight: bold;
    color: grey;
  }
  .tittleValue {
    font-weight: bold;
    color: #555;
  }
}
  .imgdiv{
    // height: 150px;
    margin-top: 15px;
    display: inline-block;
  .title {
    padding-right: 15px;
    font-weight: bold;
    color: grey;
  }
  .tittleValue {
    font-weight: bold;
    color: #555;
  }
  img {
    border: 1px solid #000;
    cursor: pointer;
    padding: 0px;
  }
}
}

.profile-btn-group { 
  display: flex;
  flex-direction: column;
  float:right;
}
@media (min-width:0px) and (max-width:767px){
  .profile-btn-group { 
    width: 100%;
    flex-direction: row;
    margin-top: 10px;
  }
}